@import "./reset";
@import "./fonts";
@import "./colors";
@import "../Mobil/Header/header";
@import "../Mobil/Help/help";
@import "../Mobil/FourSteps/fourSteps";
@import "../Mobil/Account/account";
@import "../Mobil/Collect/collect";
@import "../Mobil/Contact/contact";
@import "../Mobil/SideDrawer/sideDrawer";
@import "../Mobil/Onas/onas";
@import "../Mobil/GiveAway/giveAway";
@import "../Mobil/GiveAway/checkList";
@import "../Mobil/GiveAway/selectBox";

html {
  height: 100%;
}

body {
  background-color: #eeede9;
  height: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  align-self: center;
  justify-self: center;
  width: 15vw;
  height: 6vw;
  background: none;
  outline: none;
  box-shadow: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $sansserif;
  font-weight: 300;
  font-size: 1.5vw;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  transform: scale(1);

  &:hover {
    background-color: $lab_yellow;
    transform: scale(1.02);
    box-shadow: 0 0.5vw 1vw rgba(black, 0.5);
  }

  &:active {
    background-color: $lab_darkGrey;
    color: $lab_yellow;
  }
}

.datas {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    transform: scale(1);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 0.5vw 0.2vw rgba(black, 0.8));
    }
  }
}

.headline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-family: $sansserif;

  h1 {
    font-size: 2vw;
  }

  h3 {
    font-size: 1vw;
  }
  img {
    width: 100%;
    max-width: 80%;
  }
}

.desktop--main {
  width: 100%;
  height: 100%;

  .desktop--desktop {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative;

    &.stuff {
      height: 35vw;
      width: 100vw;
      background-color: $lab_beige;

      .desktop--container {
        width: 30vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 10%;

        .buttons {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .btn {
            width: 90%;
            height: 60%;
            font-size: 0.8vw;

            &:nth-child(1) {
              margin-right: 3vw;
            }
          }
        }

        h1 {
          font-family: $sansserif;
          font-size: 1vw;
          font-weight: 200;
        }

        form {
          align-self: flex-start;

          h1 {
            font-weight: 600;
          }
        }

        button {
          font-size: 1vw;
          max-height: 80%;
          max-width: 20%;
          justify-self: flex-start;
        }
      }
    }

    .desktop--picture {
      height: 100%;
      max-height: 100%;
      position: absolute;
      transform: translateX(-70%);

      &.form {
        max-width: 100%;
        transform: translateX(-80%);
      }

      &.bear {
        transform: translateX(10%);
      }
    }

    .desktop--container {
      width: 70%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .header--container {
        width: 65%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr;

        nav {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: 1fr 1fr;

          .menu {
            font-family: $sansserif;
            color: $lab_darkGrey;
            text-decoration: none;
            align-self: center;
            justify-self: center;
            border: 1px solid transparent;
            padding: 0.5vw;
            transition: all 0.5s;

            &.petite {
              font-size: 0.5vw;

              &.active {
                border: 1px solid $lab_yellow;
              }

              &:hover {
                border: 1px solid $lab_yellow;
              }
            }
            &.grande {
              font-size: 0.7vw;

              &:hover {
                border: 1px solid black;
              }
            }
          }
        }
        .center--container {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          font-family: $sansserif;

          &.after--login {
            align-self: flex-end;
            height: 80%;
            grid-template-rows: 40% 10% 1fr;

            .subheadline {
              font-size: 1.5vw;
              font-weight: 200;
              justify-self: center;
            }

            .box--for--four {
              justify-self: center;
              width: 50%;
              height: 100%;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: 1fr;

              .square {
                align-self: center;
                justify-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 5vw;
                height: 5vw;

                &::after {
                  content: "";
                  width: 5vw;
                  height: 5vw;
                  border: 1px solid black;
                  position: absolute;
                  transform: rotate(45deg);
                }

                h2 {
                  font-size: 1.5vw;
                  font-weight: 200;
                  margin-bottom: 0.5vw;
                }
                span {
                  text-align: center;
                  font-size: 0.8vw;
                }
              }
            }
          }

          .buttons--container {
            align-self: center;
            justify-self: center;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
          }
        }
      }
    }

    // =====   DATA   =====
  }

  .data--container {
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &.after--login {
      height: 7vw;

      .datas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        font-family: $sansserif, sans-serif;
        h1 {
          font-family: $sansserif, sans-serif;
          font-size: 1.3vw;
          text-transform: none;
          font-weight: 600;
        }
      }
    }

    .data--picture {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
    }
  }
}

// =====   FOUR STEPS   =====
.center--container {
  &.four--steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vw;
    background-color: white;

    img {
      width: 30%;
      max-width: 40%;
    }

    h1 {
      font-family: $sansserif;
      text-align: center;
      font-size: 1.5vw;
    }

    p,
    span {
      font-size: 0.8vw;
      font-family: $sansserif;
      text-align: center;
      font-weight: 300;
    }
  }
  &.fundations--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;

    h1 {
      font-family: $sansserif;
      text-align: center;
      font-size: 1.5vw;
    }

    p,
    span {
      font-size: 0.8vw;
      font-family: $sansserif;
      text-align: center;
      font-weight: 300;
      text-align: left;
    }

    .pagination {
      width: 100%;
      height: 50%;
      display: flex;
      cursor: pointer;
      outline: none;

      &.active {
        background-color: #4caf50;
        color: white;
      }

      .page-item {
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        border-radius: 0;

        &.active {
          background-color: #4caf50;
          color: white;
        }
      }

      .page-link {
        color: black;
        font-family: $sansserif, sans-serif;
        font-size: 0.8vw;
        text-decoration: none;
        border-radius: 0;
        outline: none;

        &.active {
          background-color: #4caf50;
          color: white;
        }
      }
    }

    .fundation--container {
      padding: 0 1vw;
      width: 50%;
      height: 3.5vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      border-bottom: 1px solid black;
      margin-bottom: 1vw;

      h2 {
        font-family: $serif;
        text-align: center;
        font-size: 1vw;
        justify-self: flex-start;
        align-self: center;
        font: weight 200;
        text-transform: capitalize;
      }

      .need {
        font-family: $serif;
        font-style: italic;
        font-size: 0.6vw;
        justify-self: flex-end;
        align-self: center;
      }

      .goals {
        font-family: $serif;
        font-size: 0.6vw;
        justify-self: flex-start;
        align-self: center;
      }
    }
  }
}

.center--container {
  &.graphics {
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lab_white;

    .datas {
      width: 60%;
      height: 100%;
      max-height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }
  }
}

.center--container {
  &.about--us {
    width: 100vw;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lab_white;

    .container--for--two {
      width: 60%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .text {
        width: 70%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr 40%;
        font-family: $sansserif;
        align-self: center;
        justify-self: center;

        p,
        span {
          text-align: center;
          font-size: 0.8vw;
          line-height: 1vw;
        }

        .signature {
          max-height: 100%;
          justify-self: flex-end;
        }
      }

      .fota {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
    }
  }
}

// =====   WE HELP   =====

.center--container {
  &.we--help--buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vw;
    background-color: white;

    .buttons--container {
      align-self: center;
      justify-self: center;
      width: 70%;
      height: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      button {
        height: 70%;
        width: 50%;
        font-size: 0.8vw;
        text-transform: none;
      }
    }
  }
}

// =====   CONTACT US   =====

.center--container {
  &.contact--us {
    width: 100vw;
    height: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    .fota {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      .background {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 0;
        opacity: 0.2;
      }

      .contact--form {
        width: 50%;
        height: 80%;
        position: absolute;
        right: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr 15%;

        .form {
          width: 80%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 30% 1fr;
          align-self: center;
          justify-self: center;
          font-family: $sansserif, sans-serif;
          font-size: 0.5vw;

          p,
          span {
            margin-bottom: 0.2vw;
            z-index: 10;
          }

          label {
            width: 100%;
          }

          input {
            width: 100%;
            height: 2vw;
            border: 0;
            outline: 0;
            border-bottom: 1px solid black;
            background: none;
          }

          textarea {
            width: 100%;
            height: 7vw;
            max-height: 7vw;
            border: 0;
            outline: 0;
            border-bottom: 1px solid black;
            background: none;
          }

          .up {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1vw;
          }

          .down {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
          }
        }

        img {
          max-width: 80%;
          max-height: 80%;
        }

        button {
          max-height: 80%;
          max-width: 35%;
          font-size: 0.8vw;
          text-transform: none;
        }
      }
    }
  }
}

// ========   MODAL    ========

.modal---desktop {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .headline {
    width: 35%;
    height: 20%;
  }

  .container {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $lab_white;
    font-family: $sansserif, sans-serif;
    font-size: 0.5vw;
    padding: 3vw 2vw;

    p,
    span {
      margin-bottom: 0.2vw;
      z-index: 10;
    }

    label {
      width: 90%;
    }

    input {
      width: 100%;
      height: 1vw;
      border: 0;
      outline: 0;
      border-bottom: 1px solid black;
      background: none;
    }
  }

  .buttons--container {
    width: 22vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .span {
      font-family: $sansserif, sans-serif;
      padding: 0.8vw 1vw;
      cursor: pointer;

      &.active {
        border: 1px solid black;
      }
    }
  }
}

.desktop--container {
  .input--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;

    .group {
      font-family: $sansserif, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      input[type="checkbox"] {
        display: none;

        &:checked + label::before {
          transform: scale(1);
          transition: all 0.5s;
        }
      }

      p,
      span {
        margin-left: 2vw;
      }

      label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2vw;

        &::after {
          content: "";
          width: 1.5vw;
          height: 1.5vw;
          position: absolute;
          border: 1px solid black;
        }

        &::before {
          content: "";
          background-color: $lab-yellow;
          width: 1.5vw;
          height: 1.5vw;
          position: absolute;

          transform: scale(0);
          transition: all 0.5s;
        }
      }
    }

    .box--poors {
      width: 80%;
      height: 8vw;
      display: flex;
      background-color: white;
    }
  }
}

// =======   DROPDOWN   =======

.dropdown {
  width: 12vw;
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  &:hover {
    .dropdown--list {
      opacity: 1;
      display: flex;
    }
  }
}

.dropdown--select {
  padding: 1vw;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8vw;
  font-family: $sansserif, sans-serif;
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 2vw;
}
.dropdown--list {
  position: absolute;
  top: 2.5vw;
  text-align: center;
  width: 4vw;
  height: 7.5vw;
  margin-top: 0.3vw;
  background-color: white;
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5vw;
  overflow: scroll;
  opacity: 0;
  display: none;
  font-family: $sansserif, sans-serif;
  transition: opacity 0.2s linear, visibility 0.2s linear;

  &.woj {
    width: 100%;
    align-items: flex-start;
    font-weight: 200;
  }

  .item {
    padding: 0.3vw;
    cursor: pointer;
    padding: 0.4vw 1vw;
    width: 100%;

    &:hover {
      background-color: $lab-white;
    }

    &:active {
      background-color: $lab-yellow;
    }
  }
}

.input--headline-- {
  font-family: $sansserif;
  margin-bottom: 2vw;
  font-size: 2vw;
  font-weight: 800;

  &.h1 {
    font-size: 3vw;
  }

  &.h2 {
    font-size: 1vw;
    margin-bottom: 1vw;
  }
}

.input--container {
  .container--address {
    width: 100%;
    height: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2vw;
    font-family: $sansserif, sans-serif;
  }
}
.container--address--single {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  h1 {
    font-weight: 800;
    font-size: 3vw;
    text-align: right;
  }

  h2 {
    font-weight: 800;
    font-size: 3vw;
    text-align: right;
  }

  label {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: right;

    span {
      font-size: 0.5vw;
    }

    input,
    textarea {
      width: 80%;
      background: none;
      border: 0.5px solid $lab_grey;
      color: #999999;
      text-transform: uppercase;
      font-size: 0.5vw;
      padding: 0.2vw;
    }
  }
}

.boxing {
  width: 100%;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .image {
    max-height: 2vw;
    margin-right: 1vw;
  }
}
