@import "./reset";
@import "./fonts";
@import "./colors";
@import "../Mobil/Header/header";
@import "../Mobil/Help/help";
@import "../Mobil/FourSteps/fourSteps";
@import "../Mobil/Account/account";
@import "../Mobil/Collect/collect";
@import "../Mobil/Contact/contact";
@import "../Mobil/SideDrawer/sideDrawer";
@import "../Mobil/Onas/onas";
@import "../Mobil/GiveAway/giveAway";
@import "../Mobil/GiveAway/checkList";
@import "../Mobil/GiveAway/selectBox";

html {
  height: 100%;
}

body {
  background-color: #eeede9;
  height: 100%;
}

.container--account--mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fadeIn 1s ease-out;
  transition: 1s;
  z-index: 10;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    font-family: $sansserif, sans-serif;
    font-size: 10vw;
  }

  .login--field {
    box-sizing: border-box;
    width: 80vw;
    height: 300px;

    background-color: $lab_white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6vw;
    margin-top: 5vw;

    p {
      font-family: $sansserif, sans-serif;
      font-size: 4vw;

      &.errorMsg {
        font-size: 3vw;
        color: crimson;
      }
    }

    input {
      font-size: 4vw;
      color: $lab_grey;
      width: 100%;
      height: 5vw;
      appearance: none;
      background: none;
      border: none;
      outline: none;
      border-bottom: 0.5px solid black;
    }
  }

  .buttons--field {
    box-sizing: border-box;
    width: 80vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;

    p {
      margin-top: 2vw;
      color: $lab_grey;
      font-family: $sansserif, sans-serif;
      font-size: 3vw;

      span {
        margin-left: 1vw;
        color: $lab_brown;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      align-self: center;
      justify-self: center;
      margin: 3vw;
      border: none;
      background-color: transparent;
      border: 0.5px solid black;
      padding: 3vw 12vw;
      font-size: 4vw;
      font-weight: 200;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        border: 1px solid black;
      }

      &:active {
        background-color: $lab_darkGrey;
        color: $lab_white;
      }
    }
  }
}
