@import "./reset";
@import "./fonts";
@import "./colors";
@import "../Mobil/Header/header";
@import "../Mobil/Help/help";
@import "../Mobil/FourSteps/fourSteps";
@import "../Mobil/Account/account";
@import "../Mobil/Collect/collect";
@import "../Mobil/Contact/contact";
@import "../Mobil/SideDrawer/sideDrawer";
@import "../Mobil/Onas/onas";
@import "../Mobil/GiveAway/giveAway";
@import "../Mobil/GiveAway/checkList";
@import "../Mobil/GiveAway/selectBox";

html {
  height: 100%;
}

body {
  background-color: #eeede9;
  height: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  align-self: center;
  justify-self: center;
  width: 15vw;
  height: 6vw;
  background: none;
  outline: none;
  box-shadow: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $sansserif;
  font-weight: 300;
  font-size: 1.5vw;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  transform: scale(1);

  &:hover {
    background-color: $lab_yellow;
    transform: scale(1.02);
    box-shadow: 0 0.5vw 1vw rgba(black, 0.5);
  }

  &:active {
    background-color: $lab_darkGrey;
    color: $lab_yellow;
  }
}

.datas {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    transform: scale(1);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 0.5vw 0.2vw rgba(black, 0.8));
    }
  }
}

.headline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-family: $sansserif;

  h1 {
    font-size: 2vw;
  }

  h3 {
    font-size: 1vw;
  }
  img {
    width: 100%;
    max-width: 80%;
  }
}

.desktop--main {
  width: 100%;
  height: 100%;

  .desktop--desktop {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative;

    .desktop--picture {
      height: 100%;
      max-height: 100%;
      position: absolute;
      transform: translateX(-70%);
    }

    .desktop--container {
      width: 70%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .header--container {
        width: 65%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr;

        nav {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: 1fr 1fr;

          .menu {
            font-family: $sansserif;
            color: $lab_darkGrey;
            text-decoration: none;
            align-self: center;
            justify-self: center;

            &.petite {
              font-size: 0.5vw;
            }
            &.grande {
              font-size: 0.7vw;
            }
          }
        }
        .center--container {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          font-family: $sansserif;

          .buttons--container {
            align-self: center;
            justify-self: center;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
          }
        }
      }
    }

    // =====   DATA   =====
  }

  .data--container {
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .data--picture {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
    }
  }
}

// =====   FOUR STEPS   =====
.center--container {
  &.four--steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vw;
    background-color: white;

    .btn {
      align-self: center;
      justify-self: center;
    }

    img {
      width: 30%;
      max-width: 40%;
    }

    h1 {
      font-family: $sansserif;
      text-align: center;
      font-size: 1.5vw;
    }
  }
}

.center--container {
  &.graphics {
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lab_white;

    .datas {
      width: 60%;
      height: 100%;
      max-height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }
  }
}

.center--container {
  &.about--us {
    width: 100vw;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lab_white;

    .container--for--two {
      width: 60%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .text {
        width: 70%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr 40%;
        font-family: $sansserif;
        align-self: center;
        justify-self: center;

        p {
          text-align: center;
          font-size: 0.8vw;
          line-height: 1vw;
        }

        .signature {
          max-height: 100%;
          justify-self: flex-end;
        }
      }

      .fota {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
    }
  }
}
