@media only screen and (min-width: 1200px) and (min-height: 600px) {
  .container--header {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .picture--container {
    bottom: 0;
    position: absolute;
    max-width: auto;
    height: 90%;
    max-height: 90%;
    z-index: -1;
    transform: translateY(-15%) scale(0.8) translateX(-50%);
    text-align: center;
  }

  .header--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    overflow: hidden;
    text-align: center;

    .header--box {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 10% 80%;

      .one--row {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
      }

      .central--box {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 45% 10% 45%;

        h1 {
          font-family: $sansserif;
          align-self: flex-end;
          justify-self: center;
          text-align: center;
          font-size: 4vh;
        }

        img {
          width: 25vw;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }

  a {
    box-sizing: border-box;
    text-decoration: none;
    color: $lab_grey;
    font-family: $sansserif;
    align-self: center;
    justify-self: center;
    padding: 0.7vh 1vh;
    transition: 0.5s;
    border: 1px solid rgba($color: white, $alpha: 0);
    text-align: center;

    &.login {
      font-size: 1.5vh;

      &:hover {
        border: 2px solid $lab_yellow;
      }
    }

    &.menu {
      font-size: 2vh;
      color: $lab_darkGrey;
      &:hover {
        border: 1px solid $lab_darkGrey;
      }
    }
  }
}
