.container {
  &.give--away {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h2 {
      margin-top: 5vw;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 5vw;

      span {
        position: relative;
        text-transform: none;
        font-size: 4vw;
      }
    }

    h3 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 3vw;
      margin-bottom: 4vw;
    }

    p {
      position: relative;
      font-family: $sansserif;
      font-size: 3vw;
      width: 80%;
      text-align: center;
    }

    .parzenica {
      position: relative;
      width: 100%;
      margin-bottom: 2vw;
    }

    .steps {
      box-sizing: border-box;
      width: 100%;
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10vw;

      .circle {
        width: 12vw;
        height: 12vw;
        border: 0.5vw solid $lab_darkGrey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $sansserif;
        cursor: pointer;

        &.checked {
          background-color: $lab_yellow;
        }
      }
    }
    .info {
      width: 90%;
      height: 100px;
      background-color: $lab_yellow;
      display: grid;
      grid-template-columns: 25% 1fr;
      grid-template-rows: 1fr;

      .achtung {
        width: 15vw;
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1vw solid $lab_darkGrey;
        background-color: $lab_grey;
        color: white;
        font-family: $sansserif;
        font-size: 15vw;
        align-self: center;
        justify-self: flex-end;
        border-radius: 50%;
      }
      span {
        font-size: 5vw;
        font-weight: 600;
        margin-bottom: 3vw;
      }
      p {
        align-self: center;
        justify-self: center;
        text-align: left;
      }
    }
    a {
      color: black;
      font-family: $sansserif;
      text-decoration: none;
      font-weight: 700;
      margin-left: 1vw;
    }
  }
  .button {
    width: 30vw;
    height: 10vw;
    background: none;
    border: 1px solid black;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-size: 3vw;
    cursor: pointer;

    &:active {
      background-color: $lab_darkGrey;
      color: white;
    }
  }
}
