.container--account--mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fadeIn 1s ease-out;
  transition: 1s;
  z-index: 10;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    font-family: $sansserif, sans-serif;
    font-size: 10vw;
  }

  .login--field {
    box-sizing: border-box;
    width: 80vw;
    height: 300px;

    background-color: $lab_white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6vw;
    margin-top: 5vw;

    p {
      font-family: $sansserif, sans-serif;
      font-size: 4vw;

      &.errorMsg {
        font-size: 3vw;
        color: crimson;
      }
    }

    input {
      font-size: 4vw;
      color: $lab_grey;
      width: 100%;
      height: 5vw;
      appearance: none;
      background: none;
      border: none;
      outline: none;
      border-bottom: 0.5px solid black;
    }
  }

  .buttons--field {
    box-sizing: border-box;
    width: 80vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;

    p {
      margin-top: 2vw;
      color: $lab_grey;
      font-family: $sansserif, sans-serif;
      font-size: 3vw;

      span {
        margin-left: 1vw;
        color: $lab_brown;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      align-self: center;
      justify-self: center;
      margin: 3vw;
      border: none;
      background-color: transparent;
      border: 0.5px solid black;
      padding: 3vw 12vw;
      font-size: 4vw;
      font-weight: 200;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        border: 1px solid black;
      }

      &:active {
        background-color: $lab_darkGrey;
        color: $lab_white;
      }
    }
  }
}

// ======    ACCOUNT   =========

.container {
  &.account {
    width: 100%;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 6vw;

      span {
        text-transform: none;
        font-size: 4vw;
      }
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 3vw;
      margin-bottom: 4vw;
    }
  }

  &.results {
    height: 500px;

    .results--circles {
      width: 95%;
      height: 35%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      .result {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20%;

        .circle {
          width: 25vw;
          height: 25vw;
          border: 0.5vw solid $lab_darkGrey;
          background-color: $lab_white;
          border-radius: 50%;
          align-self: center;
          justify-self: center;
          display: flex;
          align-items: center;
          justify-content: center;

          h2 {
            font-family: $sansserif;
            font-weight: 600;
            font-size: 12vw;
            color: $lab_darkGrey;
          }
        }
      }
    }
    .button--field {
      width: 90%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        width: 30%;
        height: 50%;
        background: none;
        border: 1px solid black;
        font-size: 3.5vw;
        text-transform: uppercase;
        font-size: 3vw;
        cursor: pointer;

        &:active {
          background-color: $lab_darkGrey;
          color: white;
        }
      }
    }
  }
}
