@import "./components/reset";
@import "./components/Lights/Lights.scss";
@import "./components/fonts";
@import "./components/colors";

html {
  height: 100%;
}

body {
  background-color: #eeede9;
  height: 100%;
}

.container {
  width: 100vw;

  &.desktop {
    height: 150px;
    background-color: #eeede9;
    display: grid;
    grid-template-columns: 25% 1fr 15%;
    grid-template-rows: 1fr;
  }
  .box {
    width: 100%;
    height: 100%;
    display: grid;

    &.two--vertical {
      grid-template-columns: 1fr;
      grid-template-rows: 65% 1fr;

      img {
        align-self: flex-start;
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: $sansserif;
    font-size: 6vw;
    align-self: flex-end;
    justify-self: center;
  }

  i {
    font-size: 6vw;
    color: $lab_darkGrey;
    align-self: center;
    justify-self: center;
  }

  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    height: 30px;
    align-self: center;
    transition: 0.5s;

    &:focus {
      outline: none;
    }
  }

  // ======    ACCOUNT   =========

  &.account {
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 6vw;
      span {
        text-transform: none;
        font-size: 4vw;
      }
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 3vw;
      margin-bottom: 4vw;
    }

    .button {
      width: 40vw;
      height: 12vw;
      background: none;
      border: 1px solid black;
      font-size: 3.5vw;
      text-transform: uppercase;
      cursor: pointer;

      &:active {
        background-color: $lab_darkGrey;
        color: white;
      }
    }
  }

  // ======    CAROUSEL   =========

  &.carousel {
    height: 100vw;
    background-color: $lab_white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 5% 1fr;
    margin-bottom: 4vw;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 5vw;
      align-self: center;
    }

    i {
      color: #5e5322;
      cursor: pointer;
    }

    .four--steps {
      box-sizing: border-box;
      height: 300px;
      max-height: 300px;
      background-color: $lab_white;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding: 7vw;

      .icon {
        max-width: 80%;
        max-height: 80%;
        cursor: pointer;
      }
    }
  }

  // ======    HELP   =========

  &.help {
    height: 120vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 5vw;
      align-self: center;
    }
    .three--steps {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      background-color: white;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15% 5% 1fr;
      padding: 7vw;
    }
  }
}

.rec-carousel {
  max-height: 100%;
  max-width: 100%;
}

.rec-slider-container {
  max-height: 100%;
  max-width: 100%;
}

.sc-gKAblj {
  display: none;
}

// ======    DRAWER   =========

.side-drawer {
  height: 100%;
  background-color: $lab_white;
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  box-shadow: 25px 0 15px rgba($color: #000000, $alpha: 0.3);
  z-index: 1;
  border-radius: 0 5vw 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;

  .parzenica {
    width: 80%;
    height: 7px;
    background-image: url(../src/components/img/parzenica.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login--list {
    a {
      font-family: $sansserif;
      color: $lab_darkGrey;
      text-decoration: none;
      font-size: 4vw;

      &:hover {
        border: 1px solid $lab_yellow;
        padding: 4px 5px;
      }
    }
  }

  .menu--list {
    font-size: 10vw;

    a {
      font-family: $sansserif;
      color: $lab_darkGrey;
      text-decoration: none;
      font-size: 5vw;

      &:hover {
        border: 1px solid $lab_darkGrey;
        padding: 4px 8px;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vw 8vw;

    li {
      margin: 3vw;
    }
  }
}
