@import "./components/reset";
@import "./components/Lights/Lights.scss";
@import "./components/fonts";
@import "./components/colors";
@import "./components/header_max";
@import "./components/header_1920";
@import "./components/header_1200";
@import "./components/data_max";
@import "./components/data_1200";

h1 {
  font-family: $serif;
  font-size: 3rem;
}

h2 {
  font-family: $sansserif;
  font-size: 3rem;
}

.main--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  .container {
    // max-width: 1900px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background: none;
    overflow: hidden;
  }
}
