.container {
  &.onas {
    width: 100%;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    h2 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 6vw;

      span {
        position: relative;
        text-transform: none;
        font-size: 4vw;
      }
    }

    h3 {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-family: $sansserif;
      font-size: 3vw;
      margin-bottom: 4vw;
    }

    p {
      position: relative;
      font-family: $sansserif;
      font-size: 3vw;
      width: 80%;
      text-align: center;
    }

    .people {
      width: 100%;
      position: absolute;
      overflow: hidden;
      background-color: burlywood;
      opacity: 0.2;
      filter: grayscale(50%);

      img {
        width: 100%;
        height: auto;
      }
    }

    .parzenica {
      position: relative;
      width: 100%;
      margin-bottom: 2vw;
    }

    .signature {
      position: relative;
      width: 30%;
      margin-top: 3vw;
    }
  }
}
